$primary-color: #47a3da;
$alt-color: #fff;
$gray-border: #ddd;
$full-width: 100%;

body {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: $primary-color;
  text-align: center;
}

i {
  margin-bottom: 25px;
  margin-top: 25px;
}

.main {
  font-size: 1em;
  border-top: solid 5px $primary-color;
  border-bottom: solid 5px transparent;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sub {
  font-size: 0.5em;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  box-sizing: border-box;
}

#content {
  width: 90%;
  margin: 5%;
  margin-bottom: 5%;
  .box {
    // border: solid 1px $gray-border;
    float: left;
    // display: inline-block;
    width: $full-width / 3;

    &:hover {
      background: $primary-color;
      i {
        color: $alt-color;
        // transition-delay: 0.2s;
        // transform: translateY(5px);
      }
      .main {
        color: $alt-color;
        border-top: solid 5px transparent;
        border-bottom: solid 5px $alt-color;
      }
    }
    i {
      color: $primary-color;
    }
    .sub {
      color: $alt-color;
    }
  }
}
// default display
//borders will re-draw with media queries

$clear-border: solid 1px transparent;
$drawn-border: solid 1px $gray-border;

#one, #two {
  border-top: $clear-border;
  border-right: $drawn-border;
  border-bottom: $drawn-border;
  border-left: $clear-border;
}

#three {
  border-top: $clear-border;
  border-right: $clear-border;
  border-bottom: $drawn-border;
  border-left: $clear-border;
}

#four, #five {
  border-top: $clear-border;
  border-right: $drawn-border;
  border-bottom: $clear-border;
  border-left: $clear-border;
}

#six {
  border-top: $clear-border;
  border-right: $clear-border;
  border-bottom: $clear-border;
  border-left: $clear-border;
}

$break-small: 665px;
$break-large: 1005px;

// unsure why need to wrap inside #content but it works
#content {
  @media (max-width: $break-large){
    .box {
      width: $full-width/2;
    }
    #one, #three {
      border-top: $clear-border;
      border-right: $drawn-border;
      border-bottom: $drawn-border;
      border-left: $clear-border;
    }

    #two, #four {
      border-top: $clear-border;
      border-right: $clear-border;
      border-bottom: $drawn-border;
      border-left: $clear-border;
    }

    #five {
      border-top: $clear-border;
      border-right: $drawn-border;
      border-bottom: $clear-border;
      border-left: $clear-border;
    }

    #six {
      border-top: $clear-border;
      border-right: $clear-border;
      border-bottom: $clear-border;
      border-left: $clear-border;
    }
  }

  @media (max-width: $break-small){
    .box {
      width: $full-width;
    }
    // this looks redundant but targeting .box didn't work
    #one, #two, #three, #four, #five, #six {
      border-top: $clear-border;
      border-right: $clear-border;
      border-bottom: $drawn-border;
      border-left: $clear-border;
    }
  }
}
